body {
  background-image: url('images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 50%;
  height: 100px;
  position: absolute;
  left: 15%;
  top: 40%;
}

#search {
  height: 50px;
  font-size: 25px;
}

#submit{
  position: absolute;
  left: 105%;
  bottom: 30%;
  height: 50px;
  border-radius: 500px;
  background-color: #1db954;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
  padding: 11px 32px 9px;
  font-size: 12px;
  border-color: #1aa34a;
}

.button {
  height: 50px;
  border-radius: 500px;
  background-color: #1db954;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
  padding: 11px 32px 9px;
  font-size: 12px;
  border-color: #1aa34a;
  margin-top: 5px;
}
.recommendation {
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  background-color: black;
}

.info {
  padding-top: 15px;
  font-size: 15px;
  color: white;
}

.slogan {
  color: white;
  position: absolute;
  top: 20%;
  left: 32%
}
