
            <tr>
                <td><img src = "https://i.scdn.co/image/ab67616d000048514122abdb126fc17db275f710"></td>
                <td>Tell Me You Love Me</td>
                <td>Demi Lovato</td>
                <td><a href = "https://open.spotify.com/track/1MKZaAEx8RrzoQjHhVuvgs">Play It</a></td>
            </tr>
            <tr>
                <td><img src = "https://i.scdn.co/image/ab67616d000048515841140a46549b7e95202b9f"></td>
                <td>The Wire</td>
                <td>HAIM</td>
                <td><a href = "https://open.spotify.com/track/7KdF7Zac5eC9jutk9Qret4">Play It</a></td>
            </tr>
            <tr>
                <td><img src = "https://i.scdn.co/image/ab67616d00004851e787cffec20aa2a396a61647"></td>
                <td>False God</td>
                <td>Taylor Swift</td>
                <td><a href = "https://open.spotify.com/track/5hQSXkFgbxjZo9uCwd11so">Play It</a></td>
            </tr>
            <tr>
                <td><img src = "https://i.scdn.co/image/ab67616d00004851dbd83e179619408e5d05cc99"></td>
                <td>Rose-Colored Boy</td>
                <td>Paramore</td>
                <td><a href = "https://open.spotify.com/track/2RJfK2pOvGpnxC255YOy5k">Play It</a></td>
            </tr>
            <tr>
                <td><img src = "https://i.scdn.co/image/ab67616d00004851f8553e18a11209d4becd0336"></td>
                <td>The Louvre</td>
                <td>Lorde</td>
                <td><a href = "https://open.spotify.com/track/5q4BpnMrYEFzLO0dYODj6J">Play It</a></td>
            </tr>
            <tr>
                <td><img src = "https://i.scdn.co/image/ab67616d000048515b41313f5e512786926f3da9"></td>
                <td>Sleepover</td>
                <td>Hayley Kiyoko</td>
                <td><a href = "https://open.spotify.com/track/0WqqFajBwA3tpRZ66kRomu">Play It</a></td>
            </tr>
            <tr>
                <td><img src = "https://i.scdn.co/image/ab67616d000048518093238ec0c71ef7c95c8fb1"></td>
                <td>Million Reasons</td>
                <td>Lady Gaga</td>
                <td><a href = "https://open.spotify.com/track/7dZ1Odmx9jWIweQSatnRqo">Play It</a></td>
            </tr>
            <tr>
                <td><img src = "https://i.scdn.co/image/ab67616d000048510b021e530e18b598e8eef2e6"></td>
                <td>Witness</td>
                <td>Katy Perry</td>
                <td><a href = "https://open.spotify.com/track/6EzuVdWmzgOBmqHpzbbzfQ">Play It</a></td>
            </tr>
            <tr>
                <td><img src = "https://i.scdn.co/image/ab67616d000048516eb0b9e73adcf04e4ed3eca4"></td>
                <td>Consequences</td>
                <td>Camila Cabello</td>
                <td><a href = "https://open.spotify.com/track/7sTtHHrD0zDpmzQzH3zegz">Play It</a></td>
            </tr>
            <tr>
                <td><img src = "https://i.scdn.co/image/ab67616d000048518e26bf4293c9da7a6439607b"></td>
                <td>This Feeling</td>
                <td>The Chainsmokers</td>
                <td><a href = "https://open.spotify.com/track/4NBTZtAt1F13VvlSKe6KTl">Play It</a></td>
            </tr>