
            <div class = 'row recommendation'>
                <div class = 'col-md-2'>
                    <img src = "https://i.scdn.co/image/ab67616d00004851ce35489d1ad56ba6dcbb7f92">
                </div>
                <div class = 'col-md-6 info'>
                    <p>yes girl by Bea Miller</p>
                </div>
                <div class = 'col-md-4'>
                    <a href = "https://open.spotify.com/track/7rBJG1BewE3VE7NRbrOhFj" target = '_blank'><button class = 'button'>Play It</button></a>
                </div>
            </div>
        
            <div class = 'row recommendation'>
                <div class = 'col-md-2'>
                    <img src = "https://i.scdn.co/image/ab67616d00004851e787cffec20aa2a396a61647">
                </div>
                <div class = 'col-md-6 info'>
                    <p>Miss Americana & The Heartbreak Prince by Taylor Swift</p>
                </div>
                <div class = 'col-md-4'>
                    <a href = "https://open.spotify.com/track/214nt20w5wOxJnY462klLw" target = '_blank'><button class = 'button'>Play It</button></a>
                </div>
            </div>
        
            <div class = 'row recommendation'>
                <div class = 'col-md-2'>
                    <img src = "https://i.scdn.co/image/ab67616d0000485130885dcb2b5f38512fbcbc59">
                </div>
                <div class = 'col-md-6 info'>
                    <p>Back To You - From 13 Reasons Why – Season 2 Soundtrack by Selena Gomez</p>
                </div>
                <div class = 'col-md-4'>
                    <a href = "https://open.spotify.com/track/4hQ6UGyWQIGJmHSo0J88JW" target = '_blank'><button class = 'button'>Play It</button></a>
                </div>
            </div>
        
            <div class = 'row recommendation'>
                <div class = 'col-md-2'>
                    <img src = "https://i.scdn.co/image/ab67616d00004851022b4010e20659300f42c375">
                </div>
                <div class = 'col-md-6 info'>
                    <p>Brave by Sara Bareilles</p>
                </div>
                <div class = 'col-md-4'>
                    <a href = "https://open.spotify.com/track/6Uy6K3KdmUdAfelUp0SeXn" target = '_blank'><button class = 'button'>Play It</button></a>
                </div>
            </div>
        
            <div class = 'row recommendation'>
                <div class = 'col-md-2'>
                    <img src = "https://i.scdn.co/image/ab67616d000048514e977ec3406c06c9401642d5">
                </div>
                <div class = 'col-md-6 info'>
                    <p>Black Magic by Little Mix</p>
                </div>
                <div class = 'col-md-4'>
                    <a href = "https://open.spotify.com/track/5y6pj7OeBFF0CVgZKhRbOG" target = '_blank'><button class = 'button'>Play It</button></a>
                </div>
            </div>
        
            <div class = 'row recommendation'>
                <div class = 'col-md-2'>
                    <img src = "https://i.scdn.co/image/ab67616d00004851a5acfd33d055ca075b829cc1">
                </div>
                <div class = 'col-md-6 info'>
                    <p>Worst In Me by Julia Michaels</p>
                </div>
                <div class = 'col-md-4'>
                    <a href = "https://open.spotify.com/track/1FY8gDAydm8CfGYp7Lv9ce" target = '_blank'><button class = 'button'>Play It</button></a>
                </div>
            </div>
        
            <div class = 'row recommendation'>
                <div class = 'col-md-2'>
                    <img src = "https://i.scdn.co/image/ab67616d00004851e71a5005c37e8c2ffd9beda8">
                </div>
                <div class = 'col-md-6 info'>
                    <p>Still into You by Paramore</p>
                </div>
                <div class = 'col-md-4'>
                    <a href = "https://open.spotify.com/track/1yjY7rpaAQvKwpdUliHx0d" target = '_blank'><button class = 'button'>Play It</button></a>
                </div>
            </div>
        
            <div class = 'row recommendation'>
                <div class = 'col-md-2'>
                    <img src = "https://i.scdn.co/image/ab67616d000048518d61a242f5a4e73709b02931">
                </div>
                <div class = 'col-md-6 info'>
                    <p>Too Much To Ask by Niall Horan</p>
                </div>
                <div class = 'col-md-4'>
                    <a href = "https://open.spotify.com/track/39jXnbACjiaiTwwhsr5sY5" target = '_blank'><button class = 'button'>Play It</button></a>
                </div>
            </div>
        
            <div class = 'row recommendation'>
                <div class = 'col-md-2'>
                    <img src = "https://i.scdn.co/image/ab67616d00004851f295b209cf0a7b7a906c781b">
                </div>
                <div class = 'col-md-6 info'>
                    <p>I Was Made For Loving You by Tori Kelly</p>
                </div>
                <div class = 'col-md-4'>
                    <a href = "https://open.spotify.com/track/4XbQLaWyFkXTwPK33kxWQJ" target = '_blank'><button class = 'button'>Play It</button></a>
                </div>
            </div>
        
            <div class = 'row recommendation'>
                <div class = 'col-md-2'>
                    <img src = "https://i.scdn.co/image/ab67616d0000485168d2dd8b7ef15ebd6f5cfb7c">
                </div>
                <div class = 'col-md-6 info'>
                    <p>Miss Movin' On by Fifth Harmony</p>
                </div>
                <div class = 'col-md-4'>
                    <a href = "https://open.spotify.com/track/08GujSR7BcjakZUzX0R0nl" target = '_blank'><button class = 'button'>Play It</button></a>
                </div>
            </div>
        